<div class="main-thumbnail">
  <img src="./assets/imgs/contact-main-banner.jpg" alt="">
  <div class="main-banner-content">
    <h1>Contact</h1>
    <span routerLink="/home">Home</span> / Contact
  </div>
</div>

<div class="container">
  <div class="d-lg-flex align-items-start justify-content-center">
    <div class="left-side">

      <div class="title1">
        <div class="d-flex align-items-start justify-content-start flex-column" style="padding: 5vw 0">
          <h1>LEAVE A MESSAGE</h1>
          <div style="width: 10%; height: 3px; border-radius: 5px; background-color: #c0392b"></div>
        </div>
      </div>

      <form class="contact-form">

        <div class="d-lg-flex d-md-flex" style="width: 100%">
          <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="nameFormControl" placeholder="Ex. kavindu kokila">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-lg-flex d-md-flex" style="width: 100%">
          <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
            <mat-label>Phone</mat-label>
            <input matInput [formControl]="phoneFormControl" placeholder="Ex. kavindu kokila">
            <mat-error *ngIf="phoneFormControl.hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
            <mat-label>Subject</mat-label>
            <input matInput [formControl]="subjectFormControl" placeholder="Ex. Subject">
            <mat-error *ngIf="subjectFormControl.hasError('required')">
              Subject is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-flex" style="width: 100%">
          <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
            <mat-label>Message</mat-label>
            <textarea matInput [formControl]="messageFormControl" placeholder="Ex. Message"></textarea>
            <mat-error *ngIf="messageFormControl.hasError('required')">
              Message is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <button class="submit-btn">Submit</button>
      </form>
    </div>

    <div class="right-side">
      <div style="width: 350px"></div>

      <div class="title1">
        <div class="d-flex align-items-start justify-content-start flex-column" style="padding: 5vw 0">
          <h1>LETS' BE IN TOUCH</h1>
          <div style="width: 10%; height: 3px; border-radius: 5px; background-color: #c0392b"></div>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, asperiores commodi consectetur earum eos
        error, ex illo in ipsam magnam magni modi molestiae natus!</p>

      <div class="get-in-touch-content d-flex flex-column">
        <span class="d-flex align-items-center"><span class="icon"><mat-icon>location_on</mat-icon></span>&nbsp;&nbsp; Lorem ipsum dolor sit amet, 123/6</span>
        <span class="d-flex align-items-center"><span class="icon"><mat-icon>phone</mat-icon></span>&nbsp;&nbsp; +11 1234567</span>
        <span class="d-flex align-items-center"><span class="icon"><mat-icon>email</mat-icon></span>&nbsp;&nbsp; info@gmil.com</span>
      </div>

    </div>
  </div>
</div>
