<div class="items-wrapper">
  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-1.jpg" alt="product 1">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-2.jpg" alt="product 2">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-3.jpg" alt="product 3">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-4.jpg" alt="product 4">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-5.jpg" alt="product 5">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-6.jpg" alt="product 6">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-7.jpg" alt="product 7">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-8.jpg" alt="product 8">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-center single-item">
    <div class="product-banner">
      <img src="./assets/imgs/model-9.jpg" alt="product 9">
    </div>
    <div class="product-desc">
      <h1 routerLink="/product-default">Ornare sed consequat</h1>
      <span><del>$110.00</del> <span style="color: red"> &nbsp;$89.00</span></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto ducimus hic nam nisi quas
        quidem rerum tenetur vero. Harum non quis reiciendis soluta?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Beatae, modi.</p>
      <div class="d-flex align-items-center justify-content-start" style="margin-top: 50px">
        <button class="add-cart-btn">add to cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>

<!--  button set-->
  <div class="d-flex align-items-center justify-content-center nav-end-btn-set">
    <button style="background-color: red">1</button>
    <button>2</button>
    <button>3</button>
    <button><mat-icon>chevron_right</mat-icon></button>
  </div>

</div>
