<div class="container">
  <div class="main-outer d-md-flex d-lg-flex">

    <div class="right-div">
      <div class="home-news">

        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/blog-1.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/blog-2.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/blog-3.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/blog-4.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/blog-5.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/top-news-1.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/top-news-2.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 3 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="latest-news-wrapper">
              <div class="news-thumbnail">
                <img src="./assets/imgs/top-news-3.jpg" alt="top-news-1">
                <div class="news-content fade">JAN 09</div>
              </div>
              <div class="news-details">
                <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
                <h2>Posted by <span><i>admin</i> - 5 Comments</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
                <span>READ MORE</span>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center nav-end-btn-set">
            <button style="background-color: red">1</button>
            <button>2</button>
            <button>3</button>
            <button>
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>

      </div>

    </div>

    <div class="left-div">
      <h1>CATEGORIES</h1>
      <hr>
      <div class="d-flex align-items-center justify-content-between">
        <span>Women</span>
        <span>(10)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Men</span>
        <span>(05)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Footwear</span>
        <span>(15)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Bags & Backpacks</span>
        <span>(20)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Accessories</span>
        <span>(07)</span>
      </div>
      <hr style="text-decoration: dotted">

      <div style="width: 100%;background-color: #2f3640; padding: 10px">
        <h1 style="color: white; margin: 0">NEWS LETTER</h1>
        <input type="text" style="width: 100%; height: 40px; text-align: center; margin: 10px 0"
               placeholder="Enter your email">
      </div>

      <h1>COLOR</h1>
      <hr>
      <div class="d-flex align-items-center justify-content-between">
        <span>Black</span>
        <span>(10)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Blue</span>
        <span>(05)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Red</span>
        <span>(15)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>White</span>
        <span>(20)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Gray</span>
        <span>(07)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">

      <h1>RECENT PRODUCTS</h1>
      <hr>
      <div class="d-flex align-items-center justify-content-between">
        <div style="width: 80px; height: 80px; overflow: hidden">
          <img style="width: 100%" src="./assets/imgs/model-1.jpg" alt="model 1">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-center" style="padding-left: 1vw">
          <span style="color: black;font-weight: bold">Ornare sed consequat</span>
          <span style="font-size: 15px"><mat-icon style="font-size: 14px">comment</mat-icon>5 Comments</span>
        </div>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <div style="width: 80px; height: 80px; overflow: hidden">
          <img style="width: 100%" src="./assets/imgs/model-2.jpg" alt="model 1">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-center" style="padding-left: 1vw">
          <span style="color: black;font-weight: bold">Ornare sed consequat</span>
          <span style="font-size: 15px"><mat-icon style="font-size: 14px">comment</mat-icon>5 Comments</span>
        </div>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <div style="width: 80px; height: 80px; overflow: hidden">
          <img style="width: 100%" src="./assets/imgs/model-3.jpg" alt="model 1">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-center" style="padding-left: 1vw">
          <span style="color: black;font-weight: bold">Ornare sed consequat</span>
          <span style="font-size: 15px"><mat-icon style="font-size: 14px">comment</mat-icon>5 Comments</span>
        </div>
      </div>
      <hr style="border-top: 1px dashed dimgray;">

      <div class="add-banner">
        <img src="./assets/imgs/home-banner-3.jpg" alt="Add Banner">
        <h3>ADD BANNER</h3>
      </div>

      <h1>RECENT POST</h1>
      <hr>
      <div class="d-flex align-items-center justify-content-center recent-post" style="text-align: center">
        <div class="d-flex align-items-center justify-content-center"
             style="border-radius: 100%;background-color: red;color: white;font-size: 18px;font-weight: bold;text-align: center;padding: 7px;">
          01
        </div>
        <p style="padding: 0 10px; margin: 0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda
          cupiditate</p>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-center recent-post" style="text-align: center">
        <div class="d-flex align-items-center justify-content-center"
             style="border-radius: 100%;background-color: red;color: white;font-size: 18px;font-weight: bold;text-align: center;padding: 7px;">
          02
        </div>
        <p style="padding: 0 10px; margin: 0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda
          cupiditate</p>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-center recent-post" style="text-align: center">
        <div class="d-flex align-items-center justify-content-center"
             style="border-radius: 100%;background-color: red;color: white;font-size: 18px;font-weight: bold;text-align: center;padding: 7px;">
          03
        </div>
        <p style="padding: 0 10px; margin: 0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda
          cupiditate</p>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-center recent-post" style="text-align: center">
        <div class="d-flex align-items-center justify-content-center"
             style="border-radius: 100%;background-color: red;color: white;font-size: 18px;font-weight: bold;text-align: center;padding: 7px;">
          04
        </div>
        <p style="padding: 0 10px; margin: 0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda
          cupiditate</p>
      </div>
      <hr style="border-top: 1px dashed dimgray;">

      <h1>FEATURED POST</h1>
      <div class="add-banner">
        <img src="./assets/imgs/home-banner-3.jpg" alt="FEATURED POST">
        <h3>There are many variations of Passages</h3>
      </div>

    </div>

  </div>
</div>

