<div class="main-thumbnail">
  <img src="./assets/imgs/about-main-banner.jpg" alt="">
  <div class="main-banner-content">
    <h1>ABOUT</h1>
    <span>Home</span> / About
  </div>
</div>

<div class="about-main-context">
  <div class="d-lg-flex d-md-flex justify-content-between">
    <div class="context-img">
      <img
        src="./assets/imgs/about-banner1.jpg"
        alt="...">
    </div>
    <div class="context d-flex flex-column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta dolorem doloribus eaque
        exercitationem explicabo, hic id laboriosam magnam minima odio, optio quae sequi veniam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum molestias odio voluptates.</p>
      <br>
      <span><i class="far fa-hand-point-right"></i> INCREDIBLE RANGE</span>
      <span><i class="far fa-hand-point-right"></i> COUNTRY-WIDE DELIVERY</span>
      <span><i class="far fa-hand-point-right"></i> AFFORDABLE PRICIN</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-md-flex d-lg-flex">
    <div class="about-services-wrapper">
      <span class="ico-circle"><i class="fa fa-angle-left"></i><i class="fa fa-arrow-down" aria-hidden="true"></i><i
        class="fa fa-angle-right"></i></span>
      <h1>FOR CONVENIENCE OF CHOICE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur eius facilis itaque libero
        maiores minus nobis sapiente unde voluptatem!</p>
    </div>
    <div class="about-services-wrapper">
      <span class="ico-circle"><i class="fa fa-car" aria-hidden="true"></i></span>
      <h1>FOR CONVENIENCE OF CHOICE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur eius facilis itaque libero
        maiores minus nobis sapiente unde voluptatem!</p>
    </div>
    <div class="about-services-wrapper">
      <span class="ico-circle"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <h1>FOR CONVENIENCE OF CHOICE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur eius facilis itaque libero
        maiores minus nobis sapiente unde voluptatem!</p>
    </div>
  </div>
</div>

<div class="top-reviews">
  <div class="col-12">
    <div id="top-reviews" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#top-reviews" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#top-reviews" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#top-reviews" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <div class="d-flex">
            <div class="reviewer-profile">
              <img src="./assets/imgs/reviewer-profile.jpg" alt="profile">
            </div>
            <div class="review d-flex flex-column">
              <span style="font-size: 50px">&ldquo;</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat fugit mollitia, nemo perferendis
                  quod vitae! Beatae blanditiis delectus deleniti doloribus error laboriosam magni, minus molestias nobis
                  quas ratione tempore unde veritatis! Ab eum impedit laboriosam repellat saepe tenetur voluptatem.
                  Accusamus atque fugit qui quisquam reiciendis rem ut voluptatem voluptates.</span><br>
              <span style="color: black; font-weight: bold"><i>- William Genske</i></span>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <div class="d-flex">
            <div class="reviewer-profile">
              <img src="./assets/imgs/reviewer-profile.jpg" alt="profile">
            </div>
            <div class="review d-flex flex-column">
              <span style="font-size: 50px">&ldquo;</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat fugit mollitia, nemo perferendis
                  quod vitae! Beatae blanditiis delectus deleniti doloribus error laboriosam magni, minus molestias nobis
                  quas ratione tempore unde veritatis! Ab eum impedit laboriosam repellat saepe tenetur voluptatem.
                  Accusamus atque fugit qui quisquam reiciendis rem ut voluptatem voluptates.</span><br>
              <span style="color: black; font-weight: bold"><i>- William Genske</i></span>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex">
            <div class="reviewer-profile">
              <img src="./assets/imgs/reviewer-profile.jpg" alt="profile">
            </div>
            <div class="review d-flex flex-column">
              <span style="font-size: 50px">&ldquo;</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat fugit mollitia, nemo perferendis
                  quod vitae! Beatae blanditiis delectus deleniti doloribus error laboriosam magni, minus molestias nobis
                  quas ratione tempore unde veritatis! Ab eum impedit laboriosam repellat saepe tenetur voluptatem.
                  Accusamus atque fugit qui quisquam reiciendis rem ut voluptatem voluptates.</span><br>
              <span style="color: black; font-weight: bold"><i>- William Genske</i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-end">
  <div class="d-md-flex d-lg flex align-items-center justify-content-center" style="width: 100%">
    <div class="d-flex d-sm-flex align-items-center justify-content-between" style="width: 100%">
      <div class="home-end-content d-lg-flex justify-content-between align-items-center">
        <div class="home-end-content-icon">
          <mat-icon>local_shipping</mat-icon>
        </div>
        <div class="d-flex flex-column">
          <h1>FREE DELIVERY</h1>
          <h3>World Wide</h3>
        </div>
      </div>

      <div style="width: 2px; height: 100px; background-color: #2c3e50;"></div>

      <div class="home-end-content d-lg-flex justify-content-between align-items-center">
        <div class="home-end-content-icon">
          <mat-icon>headphones</mat-icon>
        </div>
        <div class="d-flex flex-column">
          <h1>24 /7 SUPPORT</h1>
          <h3>Customer Support</h3>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-block d-md-block">
      <div style="width: 1px; height: 100px; background-color: #2c3e50;"></div>
    </div>

    <div class="d-flex d-sm-flex align-items-center justify-content-between" style="width: 100%">
      <div class="home-end-content d-lg-flex justify-content-between align-items-center">
        <div class="home-end-content-icon">
          <mat-icon>credit_card</mat-icon>
        </div>
        <div class="d-flex flex-column">
          <h1>PAYMENT</h1>
          <h3>Payment Secure System</h3>
        </div>
      </div>

      <div style="width: 2px; height: 100px; background-color: #2c3e50;"></div>

      <div class="home-end-content d-lg-flex justify-content-between align-items-center">
        <div class="home-end-content-icon">
          <mat-icon>auto_awesome</mat-icon>
        </div>
        <div class="d-flex flex-column">
          <h1>TRUSTED</h1>
          <h3>Jenuine Products</h3>
        </div>
      </div>
    </div>
  </div>
</div>
