<div class="main-thumbnail">
  <img src="./assets/imgs/myAccount-main-banner.jpg" alt="">
  <div class="main-banner-content">
    <h1>Masonry</h1>
    <span routerLink="/home">Home</span> / Masonry
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-1.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-2.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-3.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-4.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-5.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-1.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-2.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 3 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-3.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 5 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>
    </div>

  </div>
</div>
