<div class="main-thumbnail">
  <img src="./assets/imgs/shop-list-main-banner.jpg" alt="">
  <div class="main-banner-content">
    <h1>Compare</h1>
    <span routerLink="/home">Home</span> / Compare
  </div>
</div>

<div class="container">
  <div class="tbl-wrapper">
    <table>
      <tbody>
      <tr>
        <td class="tableHeading">Product Image</td>
        <td>
          <div class="product-image">
            <img src="/assets/imgs/model-1.jpg" alt="product 1">
          </div>
        </td>
        <td>
          <div class="product-image">
            <img src="/assets/imgs/model-2.jpg" alt="product 2">
          </div>
        </td>
        <td>
          <div class="product-image">
            <img src="/assets/imgs/model-3.jpg" alt="product 3">
          </div>
        </td>
      </tr>

      <tr>
        <td class="tableHeading">Product Name</td>
        <td style="color: black; font-weight: bold">Product 001</td>
        <td style="color: black; font-weight: bold">Product 002</td>
        <td style="color: black; font-weight: bold">Product 003</td>
      </tr>

      <tr>
        <td class="tableHeading">Price</td>
        <td><span>$ 89.00</span></td>
        <td><span>$ 99.00</span></td>
        <td><span>$ 94.00</span></td>
      </tr>

      <tr>
        <td class="tableHeading">Description</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis dolorum ducimus modi nam nisi
          pariatur quo recusandae rerum sit. Ab adipisci eligendi explicabo facere fugiat iure molestiae nostrum
          pariatur placeat praesentium repellendus, tempora tempore. Magni molestiae neque quas quia!
        </td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis dolorum ducimus modi nam nisi
          pariatur quo recusandae rerum sit. Ab adipisci eligendi explicabo facere fugiat iure molestiae nostrum
          pariatur placeat praesentium repellendus, tempora tempore. Magni molestiae neque quas quia!
        </td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis dolorum ducimus modi nam nisi
          pariatur quo recusandae rerum sit. Ab adipisci eligendi explicabo facere fugiat iure molestiae nostrum
          pariatur placeat praesentium repellendus, tempora tempore. Magni molestiae neque quas quia!
        </td>
      </tr>

      <tr>
        <td class="tableHeading">Color</td>
        <td style="color: black">Violet</td>
        <td style="color: black">Black</td>
        <td style="color: black">Dark Green</td>
      </tr>

      <tr>
        <td class="tableHeading">Size Available</td>
        <td style="color: black">S,M,L,XL</td>
        <td style="color: black">S,M,L,XL</td>
        <td style="color: black">S,M,L,XL</td>
      </tr>

      <tr>
        <td class="tableHeading">Item Availability</td>
        <td style="color: green">In Stock</td>
        <td><span>Out Of Stock</span></td>
        <td style="color: green">In Stock</td>
      </tr>

      <tr>
        <td></td>
        <td>
          <button
            style="color: white; background-color: red; font-size: 16px; font-weight: bold; border: none; border-radius: 30px; padding: 10px 25px">
            Add to Cart
          </button>
        </td>
        <td>
          <button
            style="color: white; background-color: red; font-size: 16px; font-weight: bold; border: none; border-radius: 30px; padding: 10px 25px">
            Add to Cart
          </button>
        </td>
        <td>
          <button
            style="color: white; background-color: red; font-size: 16px; font-weight: bold; border: none; border-radius: 30px; padding: 10px 25px">
            Add to Cart
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
