.main-thumbnail{
  width: 100%;
  max-height: 300px;
  min-height: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  img{
    width: 100%;
  }

  .main-banner-content{
    position: absolute;

    h1{
      color: white;
      font-size: 40px;
      font-weight: bolder;
      text-shadow: 0 0 10px #888;
    }

    span:hover{
      color: #c0392b;
      cursor: pointer;
    }
  }
}

.tbl-wrapper{
  width: 100%;
  overflow-x: auto;
  margin-bottom: 30px;

  table{
    width: 100%;
    min-width: 600px;

    td{
      text-align: center;
      color: dimgray;
      font-size: 16px;
      border: 1px solid #bdc3c7;
      padding: 15px;

      span{
        color: red;
      }
    }

    .tableHeading{
      white-space: nowrap;
      text-align: left;
      width: 220px;
    }

    .product-image{
      width: 100%;
      padding: 0 3vw;

      img{
        width: 100%;
      }
    }
  }
}
