<div class="main-thumbnail">
  <img src="./assets/imgs/slide-2.jpg" alt="">
  <div class="main-banner-content">
    <h1>Product Left Layout</h1>
    <span routerLink="/home">Home</span> / <span routerLink="">shop</span> / Product Left Layout
  </div>
</div>

<div class="container">
  <div class="main-outer d-md-flex d-lg-flex">
    <div class="left-div">
      <h1>CATEGORIES</h1>
      <hr>
      <div class="d-flex align-items-center justify-content-between">
        <span>Women</span>
        <span>(10)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Men</span>
        <span>(05)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Footwear</span>
        <span>(15)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Bags & Backpacks</span>
        <span>(20)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Accessories</span>
        <span>(07)</span>
      </div>
      <hr style="text-decoration: dotted">

      <h1>FILTER</h1>
      <hr>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="auto"
        min="100"
        max="5000"
        step="300"
        [(ngModel)]="value"

        style="width: 100%"
      ></mat-slider>
      <h2 style="font-size: 16px">MAX-PRICE - ${{value}}</h2>

      <h1>COLOR</h1>
      <hr>
      <div class="d-flex align-items-center justify-content-between">
        <span>Black</span>
        <span>(10)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Blue</span>
        <span>(05)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Red</span>
        <span>(15)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>White</span>
        <span>(20)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <span>Gray</span>
        <span>(07)</span>
      </div>
      <hr style="border-top: 1px dashed dimgray;">

      <h1>RECENT PRODUCTS</h1>
      <hr>
      <div class="d-flex align-items-center justify-content-between">
        <div style="width: 80px; height: 80px; overflow: hidden">
          <img style="width: 100%" src="./assets/imgs/model-1.jpg" alt="model 1">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-center" style="padding-left: 1vw">
          <span style="color: black;font-weight: bold">Ornare sed consequat</span>
          <span style="font-size: 15px"><mat-icon style="font-size: 14px">comment</mat-icon>5 Comments</span>
        </div>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <div style="width: 80px; height: 80px; overflow: hidden">
          <img style="width: 100%" src="./assets/imgs/model-2.jpg" alt="model 1">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-center" style="padding-left: 1vw">
          <span style="color: black;font-weight: bold">Ornare sed consequat</span>
          <span style="font-size: 15px"><mat-icon style="font-size: 14px">comment</mat-icon>5 Comments</span>
        </div>
      </div>
      <hr style="border-top: 1px dashed dimgray;">
      <div class="d-flex align-items-center justify-content-between">
        <div style="width: 80px; height: 80px; overflow: hidden">
          <img style="width: 100%" src="./assets/imgs/model-3.jpg" alt="model 1">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-center" style="padding-left: 1vw">
          <span style="color: black;font-weight: bold">Ornare sed consequat</span>
          <span style="font-size: 15px"><mat-icon style="font-size: 14px">comment</mat-icon>5 Comments</span>
        </div>
      </div>
      <hr style="border-top: 1px dashed dimgray;">

    </div>

    <div class="right-div">
      <div class="d-lg-flex right-top">
        <div class="product-main-img">
          <img src="./assets/imgs/model-1.jpg" alt="product">
        </div>

        <div class="product-main-content">
          <h1>Ornare sed consequat</h1>
          <span><del>$120.00</del>&nbsp;&nbsp;&nbsp;<span>$99.00</span></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, deleniti dicta doloribus eligendi eos
            excepturi expedita illo ipsam iste neque, nisi numquam perspiciatis, repudiandae voluptas.</p>
          <hr>

          <div class="d-flex justify-content-between right-2">
            <div class="d-flex flex-column">
              <p>Availability: &nbsp;<span style="font-size: 16px; font-weight: normal">{{cartText}}</span></p>
              <div class="d-flex align-items-center">
                <button (click)="decreaseValue()">-</button>&nbsp;
                <h4 style="margin: 0">{{cartValue}}</h4>&nbsp;
                <button (click)="increaseValue()">+</button>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button class="add-to-cart-btn">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-lg-flex d-md-flex align-items-start justify-content-between product-right-3">
        <div class="product-right-3-start">
          <img src="./assets/imgs/model-1.jpg" alt="1">
          <img src="./assets/imgs/model-1.jpg" alt="2">
        </div>

        <div class="product-right-3-center d-flex justify-content-center">
          <div style="background-color: #2c3e50; padding: 5px; border-radius: 100%; margin: 10px"
               class="d-flex align-items-center justify-content-center">
            <mat-icon style="color: white; font-size: 24px">favorite</mat-icon>
          </div>
          <div style="background-color: #2c3e50; padding: 5px; border-radius: 100%; margin: 10px"
               class="d-flex align-items-center justify-content-center">
            <mat-icon style="color: white; font-size: 24px">autorenew</mat-icon>
          </div>
        </div>

        <div class="product-right-3-end">
          <div class="social-btn-set">
            <div style="background-color: #2c3e50; padding: 7px; margin: 0 2px"><i class="fa-brands fa-facebook-f"></i>
            </div>
            <div style="background-color: #2c3e50; padding: 7px; margin: 0 2px"><i class="fa-brands fa-twitter"></i>
            </div>
            <div style="background-color: #2c3e50; padding: 7px; margin: 0 2px"><i class="fa-brands fa-linkedin"></i>
            </div>
            <div style="background-color: #2c3e50; padding: 7px; margin: 0 2px"><i class="fa-brands fa-pinterest"></i>
            </div>
            <div style="background-color: #2c3e50; padding: 7px; margin: 0 2px"><i class="fa-brands fa-google-plus"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column product-right-4">
        <div class="d-lg-flex">
          <div>
            <button id="desc" (click)="descClick()" [ngStyle]="{'background-color': descActive ? 'red' : '#2c3e50'}">
              DESCRIPTION
            </button>
          </div>
          <div>
            <button id="info" (click)="infoClick()" [ngStyle]="{'background-color': infoActive ? 'red' : '#2c3e50'}">
              ADDITIONAL INFORMATION
            </button>
          </div>
          <div>
            <button id="review" (click)="reviewClick()"
                    [ngStyle]="{'background-color': reviewActive ? 'red' : '#2c3e50'}">REVIEWS(02)
            </button>
          </div>
        </div>
        <div class="load-desc" [ngStyle]="{'display': descActive ? 'block' : 'none'}">
          <h3 style="font-weight: bold">DESCRIPTION</h3>
          <p style="color: dimgray; font-size: 16px; font-family: 'Barlow', sans-serif; text-align: justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda beatae cupiditate dignissimos
            ea earum enim incidunt ipsam laboriosam laborum minima minus modi molestiae nesciunt nostrum obcaecati odit
            officiis optio pariatur praesentium quasi quidem quos reiciendis, sed suscipit tempora veritatis.</p>
        </div>

        <div class="load-info" [ngStyle]="{'display': infoActive ? 'block' : 'none'}">
          <h3 style="font-weight: bold">ADDITIONAL INFORMATION</h3>
          <table class="table table-hover">
            <tbody>
            <tr>
              <td>Brand</td>
              <td>Fair Play</td>
            </tr>
            <tr>
              <td>Season</td>
              <td>Spring / Summer</td>
            </tr>
            <tr>
              <td>Color</td>
              <td>Black</td>
            </tr>
            <tr>
              <td>Fit</td>
              <td>Comfort</td>
            </tr>
            <tr>
              <td>Size</td>
              <td>S</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="load-review" [ngStyle]="{'display': reviewActive ? 'block' : 'none'}">
          <h3 style="font-weight: bold">CUSTOMER REVIEWS</h3>
          <div class="d-flex">
            <div class="reviewer-profile">
              <img src="./assets/imgs/empty-user-profile.png" alt="profile">
            </div>
            <div class="d-flex flex-column justify-content-center" style="padding-left: 10px">
              <h4>admin</h4>
              <h5>January 14, 2023</h5>
              <h4>24/7 helpdesk is also available. I Love it!</h4>
            </div>
          </div>
          <hr>
          <div class="d-flex">
            <div class="reviewer-profile">
              <img src="./assets/imgs/empty-user-profile.png" alt="profile">
            </div>
            <div class="d-flex flex-column justify-content-center" style="padding-left: 10px">
              <h4>admin</h4>
              <h5>January 14, 2023</h5>
              <h4>24/7 helpdesk is also available. I Love it!</h4>
            </div>
          </div>
          <hr>

          <h3 style="font-weight: bold">ADD A REVIEWS</h3>
<!--          form start-->
          <form class="contact-form">

            <div class="d-lg-flex d-md-flex" style="width: 100%">
              <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
                <mat-label>Name</mat-label>
                <input matInput [formControl]="nameFormControl" placeholder="Ex. kavindu kokila">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="d-flex" style="width: 100%">
              <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
                <mat-label>Message</mat-label>
                <textarea matInput [formControl]="messageFormControl" placeholder="Ex. Message"></textarea>
                <mat-error *ngIf="messageFormControl.hasError('required')">
                  Message is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <button class="submit-btn">Submit</button>
          </form>
<!--          form end-->
        </div>
      </div>

      <div class="product-right-5">

        <div class="title1">
          <div class="d-flex align-items-center justify-content-center flex-column" style="padding: 5vw 0">
            <h1>RELATED PRODUCTS</h1>
            <div style="width: 10%; height: 3px; border-radius: 5px; background-color: #c0392b"></div>
          </div>
        </div>

        <div class="popular-products">
          <div class="popular-products-inner">
            <div class="product-item">
              <img src="./assets/imgs/model-1.jpg" alt="model 1">
              <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
                <button>Add to Cart</button>
                <div class="product-buttons d-flex justify-content-between">
                  <button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button>
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button>
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <div class="product-det">
                  <h2>Product 001</h2>
                  <div class="product-price d-flex justify-content-center">
                    <div class="disable-price">
                      <del>$84.00</del>
                    </div>&nbsp;&nbsp;
                    <div class="price"> $78.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item">
              <img src="./assets/imgs/model-2.jpg" alt="model 1">
              <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
                <button>Add to Cart</button>
                <div class="product-buttons d-flex justify-content-between">
                  <button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button>
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button>
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <div class="product-det">
                  <h2>Product 002</h2>
                  <div class="product-price d-flex justify-content-center">
                    <div class="disable-price">
                      <del>$84.00</del>
                    </div>&nbsp;&nbsp;
                    <div class="price"> $78.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item">
              <img src="./assets/imgs/model-3.jpg" alt="model 1">
              <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
                <button>Add to Cart</button>
                <div class="product-buttons d-flex justify-content-between">
                  <button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button>
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button>
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <div class="product-det">
                  <h2>Product 003</h2>
                  <div class="product-price d-flex justify-content-center">
                    <div class="disable-price">
                      <del>$84.00</del>
                    </div>&nbsp;&nbsp;
                    <div class="price"> $78.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item">
              <img src="./assets/imgs/model-4.jpg" alt="model 1">
              <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
                <button>Add to Cart</button>
                <div class="product-buttons d-flex justify-content-between">
                  <button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button>
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button>
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <div class="product-det">
                  <h2>Product 004</h2>
                  <div class="product-price d-flex justify-content-center">
                    <div class="disable-price">
                      <del>$84.00</del>
                    </div>&nbsp;&nbsp;
                    <div class="price"> $78.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item">
              <img src="./assets/imgs/model-5.jpg" alt="model 1">
              <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
                <button>Add to Cart</button>
                <div class="product-buttons d-flex justify-content-between">
                  <button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button>
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button>
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <div class="product-det">
                  <h2>Product 005</h2>
                  <div class="product-price d-flex justify-content-center">
                    <div class="disable-price">
                      <del>$84.00</del>
                    </div>&nbsp;&nbsp;
                    <div class="price"> $78.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item">
              <img src="./assets/imgs/model-6.jpg" alt="model 1">
              <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
                <button>Add to Cart</button>
                <div class="product-buttons d-flex justify-content-between">
                  <button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button>
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button>
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <div class="product-det">
                  <h2>Product 006</h2>
                  <div class="product-price d-flex justify-content-center">
                    <div class="disable-price">
                      <del>$84.00</del>
                    </div>&nbsp;&nbsp;
                    <div class="price"> $78.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
