.carousel-caption {
  //margin-bottom: 15%;

  h5 {
    color: black;
    font-family: 'Barlow', sans-serif;
    margin: 10px 0;
    font-size: 2vw;
    text-shadow: 1px 1px 2px white;
  }

  h2 {
    font-weight: bold;
    color: white;
    font-family: 'Barlow', sans-serif;
    margin: 10px 0;
    font-size: 4vw;
    text-shadow: 1px 1px 2px black;
  }

  button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
    margin: 10px 0;
  }

  button:hover {
    background-color: brown;
  }

}
