<div class="main-thumbnail">
  <img src="./assets/imgs/shop-list-main-banner.jpg" alt="">
  <div class="main-banner-content">
    <h1>Blog List</h1>
    <span routerLink="/home">Home</span> / Blog List
  </div>
</div>

<div class="container">

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-1.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-2.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-3.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-4.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/blog-5.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-1.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-2.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 3 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper d-sm-flex d-md-flex d-lg-flex align-items-center">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-3.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 5 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

</div>
