<div class="main-outer">
  <div class="row">
    <div class="col-12">
      <div class="top-bar-1">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-7 col-lg-9">
            <div class="top-bar-1-content">
              <p><span><a href="tel:sample@gmail.com"><mat-icon>phone</mat-icon> +11 0000567</a></span> &nbsp;|&nbsp;
                <span><a href="mailto:sample@gmail.com"><mat-icon>email</mat-icon> info@gmail.com</a></span></p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
            <div class="top-bar-1-content">
              <p><span>Login</span> &nbsp;|&nbsp;
                <span>Wishlist</span> &nbsp;|&nbsp;
                <span>My Account</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-bar-2">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg 4">
            <img src="./assets/imgs/logo.png" alt="logo">
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg 4">
            <img src="./assets/imgs/logo.png" alt="logo">
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg 4">
            <img src="./assets/imgs/logo.png" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
