
.main-outer{
  width: 100%;
  overflow-x: hidden;

  .top-bar-1{
    width: 100%;
    min-height: 40px;
    height: auto;
    background-color: #2c3e50;
    padding: 0 8%;


    .top-bar-1-content{
      height: 40px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      p{
        color: white;
        margin: 0;
        font-size: 18px;
        font-family: 'Kanit', sans-serif;

        span:hover{
          cursor: pointer;
          color: #c0392b;

          a{
            color: #c0392b;
          }
        }
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .top-bar-2{
    width: 100%;
    min-height: 100px;
    height: auto;

    .logo{
      img{
        width: 150px;
      }
    }
    .logo:hover{
      cursor: pointer;
    }
  }
}

.footer-outer{
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;

  .footer-top{
    background-color: aliceblue;
    width: 100%;
    height: auto;

    .footer-content{
      height: auto;
      padding: 10px 20px;

      h1{
        font-size: 20px;
      }
      span{
        font-size: 12px;
        color: dimgray;
        margin-bottom: 1vw;

        .mat-icon{
          font-size: 18px;
        }

      }
      span:hover{
        color: #c0392b;
        cursor: pointer;
      }
      p{
        font-size: 14px;
        text-align: justify;
        color: dimgray;
      }
    }
  }

  .footer-bottom{
    width: 100%;
    min-height: 70px;
    height: auto;
    background-color: #2c3e50;

    span{
      color: white;
      font-size: 10px;
    }

    .social-btn-set{
      display: flex;
      align-items: center;
      justify-content: center;

      i{
        margin: 0 10px;
        color: white;
        font-size: 18px;
      }
      i:hover{
        color: #c0392b;
        cursor: pointer;
      }
    }
  }
}


.mat-menu-hover {
  &:hover {
    cursor: pointer;
  }
}

::ng-deep .mat-menu-panel button:hover{
  color: #c0392b;
}
