<div class="banner-outer">
  <div class="not-found-content d-flex align-items-center justify-content-between">
    <div class="content d-flex flex-column align-items-center justify-content-center">
      <p><span class="fourOFour txt-common">404</span></p>
      <span class="not-found txt-common">Not Found</span>
    </div>
    <div class="content d-flex flex-column align-items-end justify-content-center">
      <p><span class="nothing-found txt-common">Sorry..Nothing Found At Here</span>
        <br>
      <span class="goBackHome" routerLink="/home">Go Back Home</span>
      </p>

    </div>
  </div>
  <img src="./assets/imgs/not-found-banner.jpg" alt="404 not-found">
</div>

<div class="container">

  <div class="title1">
    <div class="d-flex align-items-center justify-content-center flex-column" style="padding: 5vw 0">
      <h1>RELATED PRODUCTS</h1>
      <div style="width: 10%; height: 3px; border-radius: 5px; background-color: #c0392b"></div>
    </div>
  </div>

  <div class="popular-products">
    <div class="popular-products-inner">
      <div class="product-item">
        <img src="./assets/imgs/model-1.jpg" alt="model 1">
        <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
          <button>Add to Cart</button>
          <div class="product-buttons d-flex justify-content-between">
            <button>
              <mat-icon>favorite</mat-icon>
            </button>
            <button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button>
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="product-det">
            <h2>Product 001</h2>
            <div class="product-price d-flex justify-content-center">
              <div class="disable-price">
                <del>$84.00</del>
              </div>&nbsp;&nbsp;
              <div class="price"> $78.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-item">
        <img src="./assets/imgs/model-2.jpg" alt="model 1">
        <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
          <button>Add to Cart</button>
          <div class="product-buttons d-flex justify-content-between">
            <button>
              <mat-icon>favorite</mat-icon>
            </button>
            <button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button>
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="product-det">
            <h2>Product 002</h2>
            <div class="product-price d-flex justify-content-center">
              <div class="disable-price">
                <del>$84.00</del>
              </div>&nbsp;&nbsp;
              <div class="price"> $78.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-item">
        <img src="./assets/imgs/model-3.jpg" alt="model 1">
        <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
          <button>Add to Cart</button>
          <div class="product-buttons d-flex justify-content-between">
            <button>
              <mat-icon>favorite</mat-icon>
            </button>
            <button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button>
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="product-det">
            <h2>Product 003</h2>
            <div class="product-price d-flex justify-content-center">
              <div class="disable-price">
                <del>$84.00</del>
              </div>&nbsp;&nbsp;
              <div class="price"> $78.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-item">
        <img src="./assets/imgs/model-4.jpg" alt="model 1">
        <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
          <button>Add to Cart</button>
          <div class="product-buttons d-flex justify-content-between">
            <button>
              <mat-icon>favorite</mat-icon>
            </button>
            <button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button>
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="product-det">
            <h2>Product 004</h2>
            <div class="product-price d-flex justify-content-center">
              <div class="disable-price">
                <del>$84.00</del>
              </div>&nbsp;&nbsp;
              <div class="price"> $78.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-item">
        <img src="./assets/imgs/model-5.jpg" alt="model 1">
        <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
          <button>Add to Cart</button>
          <div class="product-buttons d-flex justify-content-between">
            <button>
              <mat-icon>favorite</mat-icon>
            </button>
            <button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button>
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="product-det">
            <h2>Product 005</h2>
            <div class="product-price d-flex justify-content-center">
              <div class="disable-price">
                <del>$84.00</del>
              </div>&nbsp;&nbsp;
              <div class="price"> $78.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-item">
        <img src="./assets/imgs/model-6.jpg" alt="model 1">
        <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
          <button>Add to Cart</button>
          <div class="product-buttons d-flex justify-content-between">
            <button>
              <mat-icon>favorite</mat-icon>
            </button>
            <button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button>
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="product-det">
            <h2>Product 006</h2>
            <div class="product-price d-flex justify-content-center">
              <div class="disable-price">
                <del>$84.00</del>
              </div>&nbsp;&nbsp;
              <div class="price"> $78.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
