<div class="main-thumbnail">
  <img src="./assets/imgs/faq-main-banner.jpg" alt="">
  <div class="main-banner-content">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <span routerLink="/home">Home</span> / FAQ
  </div>
</div>

<div class="container" style="margin-top: 2vw;">
  <div style="margin-bottom: 1.5vw">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FAQ 1
          </mat-panel-title>
          <mat-panel-description>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deserunt dolore eius eveniet illo
          itaque natus nulla numquam possimus quo recusandae sint, soluta sunt ullam, unde veniam voluptate
          voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur, corporis cupiditate
          dicta eaque eius eum facere illo inventore iusto neque nihil omnis perspiciatis, placeat possimus provident
          repellendus, voluptate. Magnam.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div style="margin-bottom: 1.5vw">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FAQ 2
          </mat-panel-title>
          <mat-panel-description>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deserunt dolore eius eveniet illo
          itaque natus nulla numquam possimus quo recusandae sint, soluta sunt ullam, unde veniam voluptate
          voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur, corporis cupiditate
          dicta eaque eius eum facere illo inventore iusto neque nihil omnis perspiciatis, placeat possimus provident
          repellendus, voluptate. Magnam.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div style="margin-bottom: 1.5vw">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FAQ 3
          </mat-panel-title>
          <mat-panel-description>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deserunt dolore eius eveniet illo
          itaque natus nulla numquam possimus quo recusandae sint, soluta sunt ullam, unde veniam voluptate
          voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur, corporis cupiditate
          dicta eaque eius eum facere illo inventore iusto neque nihil omnis perspiciatis, placeat possimus provident
          repellendus, voluptate. Magnam.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div style="margin-bottom: 1.5vw">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FAQ 4
          </mat-panel-title>
          <mat-panel-description>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deserunt dolore eius eveniet illo
          itaque natus nulla numquam possimus quo recusandae sint, soluta sunt ullam, unde veniam voluptate
          voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur, corporis cupiditate
          dicta eaque eius eum facere illo inventore iusto neque nihil omnis perspiciatis, placeat possimus provident
          repellendus, voluptate. Magnam.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div style="margin-bottom: 1.5vw">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FAQ 5
          </mat-panel-title>
          <mat-panel-description>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deserunt dolore eius eveniet illo
          itaque natus nulla numquam possimus quo recusandae sint, soluta sunt ullam, unde veniam voluptate
          voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur, corporis cupiditate
          dicta eaque eius eum facere illo inventore iusto neque nihil omnis perspiciatis, placeat possimus provident
          repellendus, voluptate. Magnam.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div style="margin-bottom: 2.5vw">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FAQ 6
          </mat-panel-title>
          <mat-panel-description>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deserunt dolore eius eveniet illo
          itaque natus nulla numquam possimus quo recusandae sint, soluta sunt ullam, unde veniam voluptate
          voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur, corporis cupiditate
          dicta eaque eius eum facere illo inventore iusto neque nihil omnis perspiciatis, placeat possimus provident
          repellendus, voluptate. Magnam.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
