<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-1.jpg" alt="model 1">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 001</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-2.jpg" alt="model 2">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 002</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-3.jpg" alt="model 3">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 003</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-4.jpg" alt="model 4">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 004</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-5.jpg" alt="model 5">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 005</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-6.jpg" alt="model 6">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 006</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-7.jpg" alt="model 7">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 007</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-8.jpg" alt="model 8">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 008</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="product-item">
      <img src="./assets/imgs/model-9.jpg" alt="model 9">
      <div class="product-content fade d-flex flex-column align-item-center justify-content-center">
        <button>Add to Cart</button>
        <div class="product-buttons d-flex justify-content-between">
          <button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button>
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="product-det">
          <h2>Product 009</h2>
          <div class="product-price d-flex justify-content-center">
            <div class="disable-price">
              <del>$84.00</del>
            </div>&nbsp;&nbsp;
            <div class="price"> $78.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="margin-top: 30px">

  <!--  button set-->
  <div class="d-flex align-items-center justify-content-center nav-end-btn-set">
    <button style="background-color: red">1</button>
    <button>2</button>
    <button>3</button>
    <button><mat-icon>chevron_right</mat-icon></button>
  </div>
</div>
