<div class="main-thumbnail">
  <img src="./assets/imgs/top-news-1.jpg" alt="">
  <div class="main-banner-content">
    <h1>Blog</h1>
    <span routerLink="/home">Home</span> / Blog
  </div>
</div>

<div class="container">
  <div style="width: fit-content"><h1>SIMPLY TIPS FOR BEAUTY</h1></div>
  <div class="d-sm-flex d-md-flex d-lg-flex align-items-center">
    <div class="d-flex align-items-center">
      <p>posted by <span style="font-style: italic">admin</span></p>
      <p>2023 JANUARY 19</p>
    </div>
    <span class="d-flex align-items-center justify-content-center">Comments <mat-icon>comment</mat-icon></span>
  </div>

  <div class="blog-img">
    <img src="./assets/imgs/blog-2.jpg" alt="">
  </div>

  <p class="blog-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores dolorum eum reiciendis rerum tenetur.
    Accusantium cumque, doloribus id nostrum nulla quod reiciendis vel veniam. Atque consectetur, delectus doloribus
    eveniet facilis ipsa ipsum iste laboriosam laudantium, magni odit pariatur quia recusandae similique sit. A alias,
    cum dolore eaque facilis incidunt ipsam libero nulla perspiciatis quae quaerat quam, rem repudiandae totam.</p><br>
  <p class="blog-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut, consequuntur ducimus expedita facilis
    perspiciatis porro provident quasi reiciendis sed sequi, sint ullam! Accusamus aspernatur corporis debitis delectus
    eligendi eos exercitationem explicabo, hic impedit, iure magni, minus nesciunt numquam odit optio pariatur ratione
    saepe sint sunt voluptate. Ad aliquam at autem cum eum minus modi mollitia officia quae. Ab commodi earum eius iste
    iure necessitatibus nostrum odit, optio provident, quo ratione reiciendis! Debitis, natus, voluptatum.</p><br>
  <p class="blog-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolores ipsa libero mollitia porro? Aspernatur
    culpa eius facilis fuga modi nemo neque nihil quisquam repellendus tempore. Doloremque maiores praesentium quaerat.
    Accusamus animi atque, beatae deleniti dolorem explicabo fugit hic ipsum officiis perferendis quae quidem quis
    reprehenderit repudiandae sed tempore totam!</p>
</div>
