<div class="main-thumbnail">
  <img src="./assets/imgs/home-banner-5.jpg" alt="">
  <div class="main-banner-content">
    <h1>Blog Standard</h1>
    <span routerLink="/home">Home</span> / Blog
  </div>
</div>

<div class="container">
  <div class="home-news">

      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-1.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 2 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-2.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 3 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

      <div class="latest-news-wrapper">
        <div class="news-thumbnail">
          <img src="./assets/imgs/top-news-3.jpg" alt="top-news-1">
          <div class="news-content fade">JAN 09</div>
        </div>
        <div class="news-details">
          <h1>SIMPLY TIPS FOR BEAUTIFUL</h1>
          <h2>Posted by <span><i>admin</i> - 5 Comments</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque...</p>
          <span>READ MORE</span>
        </div>
      </div>

    <div class="d-flex align-items-center justify-content-center nav-end-btn-set">
      <button style="background-color: red">1</button>
      <button>2</button>
      <button>3</button>
      <button><mat-icon>chevron_right</mat-icon></button>
    </div>

  </div>
</div>

